<!--<img style="display: block; width: 140px;" src="https://i.ibb.co/Sn5ZM2P/atomworks-icon-blue.png" alt="">-->


<p>Hi {{$name}},</p>

<p>Thank you for choice.</p>><h3> {{$title}}</h3><p> It's a pleasure to serve you.</p>

<p>Your order id is </p>><h3> {{$orderId}}</h3>

<p>The day you choose is on </p><h3>{{$startAt}}</h3><p> at </p><h3>{{$remark}}</h3>

<p>Enjoy it.</p>


<pre>

Regards,
The Dream Holiday Hotel.


You're receiving this email because you've ordered product by http://localhost:4200
</pre>

